.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 3rem;
    gap: 2rem;
}


.hero .left-h{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.hero .left-h h3{
    font-size: 2rem;
    padding-bottom: 2rem;

}
.hero .left-h p{
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    
}
.hero .left-h .buttons{
    margin-top: 30px;
}
.hero .left-h .buttons a{
    margin-right: 20px;
    
}
@media screen and (max-width:420px) {
    .hero{
        width: 100%;
        grid-template-columns:1fr;
    }
    .hero .right-h {
        text-align: center;
        padding-bottom: 20px;
        height: 20px;
    }
    .hero .right-h img{
        height: 40vh;
        width: 300px;
        margin-top: 30px ;
               
    }
    .hero .left-h{
        padding-bottom: 20px;
        text-align: center;
    }
    .hero .left-h .buttons a{
        margin-bottom: 30px;
        
    }
    
}
@media screen and (min-width:1020px) {
    .hero .right-h img{
        height: 70vh;
        width: 450px;
        margin-right: 20px;
    }
}
@media screen and (min-width:421px) and (max-width:1010px) {
    .hero{
        grid-template-columns:1fr;
        width: 100%;        
    }
    .hero .right-h{
        text-align: center;
    }
    .hero .right-h img{
        height: 70vh;
        width: 400px;
        margin-right: 20px;
    }
    
    
}