.header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 1rem;    
    background: var(--btn-secondary);
}


.hamburger{
    background: transparent;
    cursor: pointer;
    display: none;
}



.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1rem;
}
@media screen and (max-width:760px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -100%;
        left: 0;
        z-index: 3;
        transition: 0.3s;
        background: var(--btn-secondary);
    
    }
    .header .logo{
        z-index: 12;
    }
    .nav-menu.active{
        top: 0;
    }
    .hamburger{
        display: initial;
        z-index: 12;
    }
    .nav-menu li{
        padding: 1rem 0;
    }
    .nav-menu li a{
        font-size: 2rem;
    }
}
@media screen and (min-width:761px) {
    .nav-menu li a {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
}