@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}
:root{
    --bg-color:  #318CE7;
    --txt-color: #fff ;
    --btn-color:  #96ff5e;
}
.btn{
    background-color: var(--btn-color);
}

h1{
    color: var(--txt-color);
}