@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --bg-color:  #0e6aa7;
    --txt-color: #fff ;
    --btn-color:  #96ff5e;
    --btn-secondary : #13274F;
}
.btn{
    background-color: var(--btn-color);
}

h1,h3,p{
    color: var(--txt-color);
    background-color: transparent;
}
ul,a,li{
    text-decoration: none;
    list-style: none;
    color: var(--txt-color);
    background-color: transparent;
}